.text-xs{
  font-size: 0.9em;
}

.text-xxs{
  font-size: 0.7em;
}

#weather-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#weather-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}